# Dependencies
node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db
.AppleDouble
.LSOverride

# Logs
logs/
*.log
